 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Blackstone Engineering is an IoT / Embedded Engineering consultancy firm that specializes in the bleeding edge of IoT technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're want to create a product with a global footprint or just looking for some advice on what technologies to use in your design we can help.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </br>
                    <p>Please reach out in the contact form below to schedule a consultation.</p>
                </div>
            </div>
        </div>
    </section>
